# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
config
crash-reports
saves
logs
options.txt
forge-1.12.2-14.23.3.2689-mdk.zip
mods
